/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
a {
  background-color: transparent;
  color: #3075c6;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-weight: 400;
}
h1,
.h1 {
  font-size: 46px;
  line-height: 56px;
}
h2,
.h2 {
  font-size: 40px;
  line-height: 49px;
}
h3,
.h3 {
  font-size: 36px;
  line-height: 40px;
}
h4,
.h4 {
  font-size: 32px;
  line-height: 46px;
}
h5,
.h5 {
  font-size: 22px;
  line-height: 34px;
}
.column--two {
  display: -ms-flexbox;
  display: flex;
}
.column--two > div {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  padding: 0 40px 0 0;
}
.column--two > div:nth-child(2) {
  padding-right: 0;
}
img {
  max-width: 100%;
}
.main-svg-sprite {
  display: none;
}
.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}
.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}
* {
  min-width: 0;
  min-height: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: Montserrat,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  color: #212121;
}
svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
blockquote {
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #03a9f4;
  background-color: rgba(3,169,244,0.03);
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
  width: 100%;
}
input[type=text]:focus,
input[type=search]:focus,
input[type=phone]:focus {
  outline: none;
  box-shadow: 0px 0px 5px #41a1f2;
}
.default-button {
  max-width: 225px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 17px;
  padding: 19px 40px 19px 23px;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  border: none;
  transition: background ease-out 0.3s;
}
.default-button svg {
  position: absolute;
  width: 23px;
  height: 23px;
  fill: #fff;
  top: 16px;
  right: 18px;
}
.default-button--green {
  background: #b7bc4e;
}
.default-button--green:hover {
  background: #cfd458;
}
.default-button--blue {
  background: #8000ff;
}
.default-button--blue:hover {
  background: #972fff;
}
.default-button--iconleft {
  padding: 19px 5px 19px 61px;
}
.default-button--iconleft svg {
  left: 27px;
  right: auto;
}
.brand-text {
  font-style: normal;
  font-weight: 800;
  font-size: 150px;
  line-height: 183px;
  text-transform: uppercase;
  color: #fff;
  pointer-events: none;
}
.default-title {
  font-size: 40px;
  line-height: 49px;
  color: #212121;
  font-weight: 400;
}
.default-bubble {
  width: 153px;
  height: 153px;
  border-radius: 100%;
  background: #cdd257;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  pointer-events: none;
}
.default-bubble--big {
  width: 286px;
  height: 286px;
  -webkit-filter: blur(22px);
          filter: blur(22px);
}
.gray-bg {
  background: #f7f7f7;
}
.white-bg {
  background: #fff !important;
}
input[type=text],
input[type=tel],
input[type=email],
input[type=password],
input[type=url],
input[type=search],
textarea {
  width: 100%;
  height: 55px;
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  border-radius: 4px;
  padding-left: 20px;
  color: #212121;
  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  resize: none;
}
input[type=text]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #b5b5b5;
  font-size: 14px;
  font-weight: 400;
}
input[type=text]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=search]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #b5b5b5;
  font-size: 14px;
  font-weight: 400;
}
input[type=text]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #b5b5b5;
  font-size: 14px;
  font-weight: 400;
}
input[type=text]:-moz-placeholder,
input[type=tel]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=url]:-moz-placeholder,
input[type=search]:-moz-placeholder,
textarea:-moz-placeholder {
  color: #b5b5b5;
  font-size: 14px;
  font-weight: 400;
}
input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=search]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px #41a1f2;
}
textarea {
  height: 78px;
  padding: 20px;
}
.error-input {
  position: relative;
}
.error-input input {
  border-color: #ff9494;
  background: #ffe6e6;
}
.error-input input::-webkit-input-placeholder {
  color: #f00;
}
.error-input input::-moz-placeholder {
  color: #f00;
}
.error-input input:-ms-input-placeholder {
  color: #f00;
}
.error-input input:-moz-placeholder {
  color: #f00;
}
/* для элемента input c type="checkbox" */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  margin-right: 11px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background-color: #f7f7f7;
  cursor: pointer;
}
/* стили для активного чекбокса (при нажатии на него) */
/* стили для чекбокса, находящегося в фокусе */
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.31725 9.31721C4.07378 9.31721 3.83005 9.22434 3.64431 9.03846L0.278815 5.67297C-0.0929383 5.30122 -0.0929383 4.69859 0.278815 4.32683C0.650568 3.95508 1.2532 3.95508 1.62495 4.32683L4.31725 7.01913L10.375 0.961451C10.7468 0.58981 11.3496 0.589698 11.7211 0.961451C12.0929 1.3332 12.0929 1.93597 11.7211 2.30759L4.99033 9.03846C4.80446 9.22423 4.56084 9.31721 4.31725 9.31721Z' fill='%23212121'/%3E%3C/svg%3E%0A");
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}
label {
  cursor: pointer;
}
p {
  margin: 0 0 20px 0;
}
a:hover,
a:active {
  text-decoration: none;
}
.adaptive-video-iframe {
  position: relative;
  padding-bottom: 56.25%;
/* 16:9 */
  padding-top: 25px;
  height: 0;
}
.adaptive-video-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
}
.app-footer {
  -ms-flex: none;
      flex: none;
  background: #585857;
  padding: 56px 0 0;
}
.app-footer__topline {
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255,255,255,0.16);
}
.app-footer__topline-inner {
  display: -ms-flexbox;
  display: flex;
}
.app-footer__topline-layout--logo {
  margin-right: 106px;
}
.app-footer__topline-layout--menu {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 11px 70px 0 0;
}
.app-footer__logo {
  font-size: 0;
}
.app-footer__logo a {
  text-decoration: none;
}
.app-footer__socials {
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.app-footer__socials-item {
  -ms-flex: 0 0 33px;
      flex: 0 0 33px;
  max-width: 33px;
  width: 33px;
  margin-right: 10px;
  font-size: 0;
}
.app-footer__socials-item a {
  text-decoration: none;
}
.app-footer__socials-item a img {
  max-width: 100%;
}
.app-footer__socials-item a svg {
  fill: #aaa;
}
.app-footer__socials-item a:hover svg {
  fill: #b7bc4e;
}
.app-footer__socials-item:last-child {
  margin-right: 0;
}
.app-footer__menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.app-footer__menu > ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.app-footer__menu > ul > li > span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.app-footer__menu > ul > li > ul {
  margin-top: 15px;
}
.app-footer__menu > ul > li > ul > li > a {
  font-size: 14px;
  line-height: 17px;
  color: #aaa;
}
.app-footer__menu > ul > li > ul > li > a:hover {
  color: #fff;
  text-decoration: none;
}
.app-footer__bottomline {
  padding: 26px 0;
}
.app-footer__bottomline-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.app-footer__copy {
  font-size: 12px;
  line-height: 15px;
  color: #aaa;
}
.app-footer__policy a {
  font-size: 12px;
  line-height: 15px;
  color: #aaa;
  text-decoration: none;
}
.app-footer__policy a:hover {
  text-decoration: underline;
}
body.main .app-header {
  background: transparent;
}
body.main .app-header__topline:not(.scroller) {
  border-bottom: 1px solid rgba(255,255,255,0.16);
  background: transparent;
}
body.main .app-header__topline:not(.scroller) .app-header__logo .logo-path1 {
  fill: #fff;
}
body.main .app-header__topline:not(.scroller) .app-header__logo .logo-path2 {
  stroke: #fff;
}
body.main .app-header__topline:not(.scroller) .app-header__menu ul a {
  color: #fff;
}
body.main .app-header__topline:not(.scroller) .app-header__menu ul a:hover {
  color: #b7bc4e;
}
body.main .app-header__topline:not(.scroller) .app-header__menu > ul > li > span {
  color: #fff;
}
body.main .app-header__topline:not(.scroller) .app-header__menu > ul > li > span:hover {
  color: #b7bc4e;
}
body.main .app-header__topline:not(.scroller) .app-header__menu > ul > li > ul {
  background: #000;
}
body.main .app-header__topline:not(.scroller) .app-header__search-button .svg-icon {
  fill: #fff;
}
body.main .app-header__topline:not(.scroller) .app-header__search-button .svg-icon:hover {
  fill: #b7bc4e;
}
body.main .app-header__topline:not(.scroller) .app-header__search-input button .svg-icon {
  fill: #b7bc4e;
}
body.main .app-header__topline:not(.scroller) .app-header__adaptive-menu .svg-icon {
  fill: #fff;
}
.app-header {
  -ms-flex: none;
      flex: none;
  background: #fff;
}
.app-header__topline {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 90px;
  padding: 15px 0;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}
.app-header__topline-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
}
.app-header__topline-layout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.app-header__logo {
  -ms-flex: 0 0 224px;
      flex: 0 0 224px;
  margin-right: 10px;
  font-size: 0;
}
.app-header__menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.app-header__menu > ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.app-header__menu > ul > li {
  position: relative;
}
.app-header__menu > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  border: 1px solid #f2f3f2;
}
.app-header__menu > ul > li:hover > span {
  color: #b7bc4e;
  border-left-color: #f2f3f2;
  border-right-color: #f2f3f2;
}
.app-header__menu > ul > li > span {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  display: block;
  padding: 10px 16px;
  cursor: pointer;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.app-header__menu > ul > li > ul {
  position: absolute;
  width: 220px;
  top: 100%;
  background: #fff;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-out 0.3s;
}
.app-header__menu > ul > li > ul > li {
  display: block;
}
.app-header__menu > ul > li > ul > li > a {
  display: block;
  padding: 15px 16px;
}
.app-header__menu > ul a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  display: block;
  padding: 10px 5px;
}
.app-header__menu > ul a:hover {
  color: #b7bc4e;
}
.app-header__search.show .app-header__search-input {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.app-header__search.show .app-header__search-button .svg-icon {
  fill: #b7bc4e;
}
.app-header__search-button {
  display: block;
  padding: 5px;
}
.app-header__search-button .svg-icon {
  display: block;
  width: 26px;
  height: 26px;
  fill: #212121;
}
.app-header__search-button:hover .svg-icon {
  fill: #b7bc4e;
}
.app-header__search-input {
  position: absolute;
  right: 0;
  left: 0;
  top: calc(100% + 27px);
  width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity ease-out 0.4s;
  padding: 0 15px;
}
.app-header__search-input input {
  box-shadow: 5px 15px 40px rgba(30,35,66,0.15);
  border-radius: 4px;
  width: 100%;
  height: 60px;
  font-size: 15px;
  line-height: 18px;
  color: #999;
  border: none;
  padding-left: 32px;
  padding-right: 50px;
}
.app-header__search-input button {
  position: absolute;
  right: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
  top: 13px;
  padding: 0;
}
.app-header__search-input button .svg-icon {
  width: 35px;
  display: block;
  height: 35px;
}
.app-header__adaptive-menu {
  font-size: 0;
  padding: 5px;
  display: none;
}
.app-header__adaptive-menu .svg-icon {
  width: 36px;
  height: 36px;
  fill: #000;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}
.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  padding-top: 90px;
}
.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}
.app.main {
  padding-top: 0;
}
.l-about {
  background: url("../img/about1.png") 50% 50% no-repeat;
  background-size: cover;
  min-height: 300px;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.l-about__brand-text {
  position: absolute;
  right: 100px;
  bottom: 0;
  font-size: 0;
}
.l-about__brand-text img {
  max-width: 100%;
}
.l-about__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}
.l-about__site-path {
  position: absolute;
  top: 0;
  left: 15px;
}
.l-about__main-text {
  color: #fff;
  font-weight: 400;
  text-transform: none;
}
.l-about--content {
  min-height: 500px;
}
.l-advantages {
  padding: 100px 0 65px;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.l-advantages__bubble {
  position: absolute;
}
.l-advantages__bubble--left {
  top: 84px;
  left: 140px;
}
.l-advantages__bubble--right {
  bottom: 161px;
  right: -155px;
}
.l-advantages__brand-text {
  position: absolute;
  left: 190px;
  bottom: -38px;
  color: #f7f7f7;
}
.l-advantages__inner {
  position: relative;
}
.l-advantages__content-block {
  display: -ms-flexbox;
  display: flex;
}
.l-advantages__content-block-layout {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.l-advantages__content-block-layout--img {
  -ms-flex: 0 0 555px;
      flex: 0 0 555px;
  margin-left: 50px;
}
.l-advantages__content-block-title {
  font-size: 40px;
  line-height: 49px;
  color: #212121;
}
.l-advantages__content-block-title .green-text {
  color: #b7bc4e;
}
.l-advantages__content-block-text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 32px;
  color: #212121;
}
.l-advantages__content-block-img {
  font-size: 0;
}
.l-advantages__content-block-img img {
  max-width: 100%;
}
.l-advantages__block {
  margin-top: 100px;
}
.l-advantages__block-elems {
  margin: 40px 0 0 -50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.l-advantages__block-elem {
  -ms-flex: 0 0 33.33%;
      flex: 0 0 33.33%;
  width: 33.33%;
  max-width: 33.33%;
  padding: 0 0 20px 50px;
}
.l-advantages__block-item {
  display: -ms-flexbox;
  display: flex;
}
.l-advantages__block-item-layout--number {
  -ms-flex: 0 0 60px;
      flex: 0 0 60px;
  width: 60px;
  max-width: 60px;
  margin-right: 14px;
}
.l-advantages__block-item-number {
  font-size: 0;
}
.l-advantages__block-item-number img {
  max-width: 100%;
}
.l-advantages__block-item-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #212121;
}
.l-advantages__block-item-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 24px;
  color: #212121;
}
.l-articles {
  position: relative;
  overflow: hidden;
  padding: 90px 0 100px;
  -webkit-overflow-scrolling: touch;
}
.l-articles__inner {
  position: relative;
}
.l-articles__bubble {
  position: absolute;
}
.l-articles__bubble--left {
  left: 66px;
  top: 174px;
}
.l-articles__bubble--right {
  bottom: 169px;
  right: -143px;
}
.l-articles__items {
  margin-top: 43px;
  display: -ms-flexbox;
  display: flex;
}
.l-articles__items .owl-stage-outer {
  overflow: visible;
}
.l-articles__items .owl-stage-outer .owl-item {
  opacity: 0;
  pointer-events: none;
}
.l-articles__items .owl-stage-outer .owl-item.active {
  opacity: 1;
  pointer-events: auto;
}
.l-articles__items .owl-nav > button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: -60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.l-articles__items .owl-nav > button.owl-prev {
  right: auto;
  left: -60px;
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}
.l-articles__items .owl-nav > button svg {
  fill: #d1d1d1;
  transition: fill ease-out 0.2s;
}
.l-articles__items .owl-nav > button:hover svg {
  fill: #b7bc4e;
}
.l-articles__item {
  box-shadow: 5px 15px 40px rgba(30,35,66,0.15);
  border-radius: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-decoration: none;
  transition: -webkit-transform linear 0.3s;
  transition: transform linear 0.3s;
  transition: transform linear 0.3s, -webkit-transform linear 0.3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.l-articles__item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.l-articles__item:hover .l-articles__content {
  text-decoration: underline;
}
.l-articles__item-content {
  padding: 28px 29px;
}
.l-articles__content {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #212121;
  margin-top: 11px;
  display: block;
}
.l-articles__item-link span {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #b7bc4e;
  text-decoration: none;
}
.l-articles__item-img {
  font-size: 0;
}
.l-articles__item-img img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}
.l-articles__button {
  margin-top: 50px;
}
.l-articles__button .default-button {
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #b7bc4e;
  box-sizing: border-box;
  color: #212121;
  max-width: 255px;
}
.l-articles__button .default-button svg {
  fill: #b7bc4e;
}
.l-articles__button .default-button:hover {
  color: #b7bc4e;
}
.l-articles__pagers {
  margin-top: 26px;
}
.l-articles--grid {
  padding: 37px 0 100px;
}
.l-articles--grid .l-articles__items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}
.l-articles--grid .l-articles__elem {
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  width: 33.333%;
  max-width: 33.333%;
  padding: 0 0 40px 30px;
}
.l-articles--grid .l-articles__item {
  height: 100%;
}
.l-aside-menu {
  position: fixed;
  z-index: 1001;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  pointer-events: none;
}
.l-aside-menu.js-opening {
  left: 0;
  pointer-events: auto;
}
.l-aside-menu.js-animate .l-aside-menu__overlay {
  opacity: 1;
}
.l-aside-menu.js-animate .l-aside-menu__content {
  opacity: 1;
}
.l-aside-menu__content {
  position: absolute;
  z-index: 25;
  overflow: hidden;
  top: 0;
  right: 0;
  left: auto;
  width: 440px;
  max-width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.1);
  box-sizing: border-box;
  transition: opacity 0.3s linear;
  opacity: 0;
  -webkit-overflow-scrolling: touch;
}
.l-aside-menu__close {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 0 0 16px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.l-aside-menu__close .svg-icon {
  fill: #000;
}
.l-aside-menu__back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 150;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 0 0 16px 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.l-aside-menu__navs {
  height: 100%;
  padding-top: 65px;
}
.l-aside-menu__scroller {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 35px 0;
  box-sizing: border-box;
}
.l-aside-menu__scroller::-webkit-scrollbar {
  width: 4px;
}
.l-aside-menu__scroller::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #b7bc4e;
}
.l-aside-menu__scroller::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
}
.l-aside-menu__scroller-content {
  position: relative;
  z-index: 75;
}
.l-aside-menu__scroller-content .app-header__site-version {
  margin-top: 50px;
  max-width: 60px;
  margin-left: auto;
  display: -ms-flexbox;
  display: flex;
}
.l-aside-menu__scroller-content .app-header__site-version-item {
  background-color: #000;
}
.l-aside-menu__scroller-content .app-header__site-version-dropdown {
  z-index: 40;
}
.l-aside-menu__foot {
  position: relative;
}
.l-aside-menu__overlay {
  position: absolute;
  z-index: 15;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.39);
  opacity: 0;
  transition: opacity 0.3s linear;
}
.app-header__search.aside-nav-list__search {
  margin: 0;
  padding: 10px 73px 0 52px;
  display: none;
}
.aside-nav-list {
  margin: 10px 0 0 0;
  padding: 10px 0 0 0;
  list-style-type: none;
  background-color: transparent;
}
.aside-nav-list.aside-nav-list__city-change {
  display: none;
  width: 100%;
  margin-top: 0;
  padding: 10px 73px 0 52px;
}
.aside-nav-list.aside-nav-list__city-change .dropdown {
  max-width: 200px;
}
.aside-nav-list.aside-nav-list__city-change .dropdown .dropdown-toggle {
  text-align: left;
  padding: 0;
}
.aside-nav-list.aside-nav-list__city-change .dropdown .dropdown-menu a {
  font-size: 12px;
  text-align: left;
  padding: 5px;
  color: #000;
  text-transform: none;
}
.aside-nav-list.aside-nav-list__catalog-list .app-header__catalog-list-button > a {
  padding: 10px 40px 10px 20px;
  font-size: 15px;
  position: relative;
}
.aside-nav-list.aside-nav-list__catalog-list .app-header__catalog-list-button > a .svg-icon--chevron-down {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 40px;
  height: 40px;
  right: 0;
  top: 0;
}
.aside-nav-list.aside-nav-list__catalog-list .app-header__catalog-list-button > a .svg-icon--chevron-down .svg-icon__link {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  transition: -webkit-transform ease-out 0.3s;
  transition: transform ease-out 0.3s;
  transition: transform ease-out 0.3s, -webkit-transform ease-out 0.3s;
}
.aside-nav-list.aside-nav-list__catalog-list .app-header__catalog-list-button > a.is-opened {
  background-color: #4f8ccf;
}
.aside-nav-list.aside-nav-list__catalog-list .app-header__catalog-list-button > a.is-opened .svg-icon--chevron-down .svg-icon__link {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.aside-nav-list.aside-nav-list__catalog-list > ul.nav-bar {
  display: none;
  padding: 0;
}
.aside-nav-list.aside-nav-list__catalog-list > ul.nav-bar > li > a {
  display: block;
  font-size: 14px;
}
.aside-nav-list.aside-nav-list__catalog-list > ul.nav-bar > li > ul > li > a {
  font-size: 12px;
}
.aside-nav-list.aside-nav-list__catalog-list > ul.nav-bar > li > ul > li > ul > li > a {
  font-size: 11px;
}
.aside-nav-list > ul > li.active > span {
  color: #b7bc4e;
}
.aside-nav-list > ul > li.active > span .sub-menu-trigger {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.aside-nav-list > ul > li > span {
  position: relative;
  z-index: 35;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  transition: background-color 0.3s linear;
  padding: 10px 73px 5px 52px;
  display: block;
  border: none;
  border-radius: 0;
  text-decoration: none;
  background-color: transparent;
  color: #212121;
  font-size: 24px;
  font-weight: 500;
}
.aside-nav-list > ul > li > span .sub-menu-trigger {
  position: absolute;
  right: 15px;
  top: 3px;
  z-index: 35;
  width: 40px;
  height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.aside-nav-list ul {
  padding: 0;
}
.aside-nav-list li {
  position: relative;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 5px;
  text-align: left;
  -webkit-overflow-scrolling: touch;
}
.aside-nav-list li > ul {
  position: relative;
  z-index: 25;
  margin: 0;
  padding: 10px 0 10px 10px;
  list-style-type: none;
  display: none;
}
.aside-nav-list li.opened.is-has-child > ul {
  display: block;
  box-shadow: inset 0 -20px 18px -28px rgba(51,51,51,0.7);
}
.aside-nav-list li.opened.is-has-child > a {
  color: #000;
  background-color: #fff;
  box-shadow: 0 6px 12px -9px rgba(51,51,51,0.7);
}
.aside-nav-list li.opened.is-has-child > .sub-menu-trigger {
  fill: #000;
}
.aside-nav-list li a {
  position: relative;
  z-index: 35;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  transition: background-color 0.3s linear;
  padding: 10px 73px 5px 52px;
  display: block;
  border: none;
  border-radius: 0;
  text-decoration: none;
  background-color: transparent;
  color: #212121;
  font-size: 20px;
  font-weight: 500;
}
.aside-nav-list li a .svg-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  transition: -webkit-transform ease-out 0.3s;
  transition: transform ease-out 0.3s;
  transition: transform ease-out 0.3s, -webkit-transform ease-out 0.3s;
}
.aside-nav-list li a .svg-icon .svg-icon__link {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  transition: -webkit-transform ease-out 0.3s;
  transition: transform ease-out 0.3s;
  transition: transform ease-out 0.3s, -webkit-transform ease-out 0.3s;
}
.aside-nav-list li a:hover,
.aside-nav-list li a.active {
  color: #b7bc4e;
}
.aside-nav-list li.opened > a > .svg-icon .svg-icon__link,
.aside-nav-list li.opening > a >.svg-icon .svg-icon__link {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.aside-nav-list li.opened.is-has-child > .sub-menu-trigger .svg-icon,
.aside-nav-list li.opening.is-has-child > .sub-menu-trigger .svg-icon {
  fill: #fff;
}
.aside-nav-list li.opened > a,
.aside-nav-list li.opening > a {
  color: #fff;
  background-color: #4f8ccf;
  box-shadow: 0 6px 12px -9px rgba(51,51,51,0.7);
}
.aside-nav-list li.opened > ul,
.aside-nav-list li.opening > ul {
  border-bottom: 1px solid rgba(74,86,232,0.5);
  box-shadow: inset 0 -20px 18px -28px rgba(51,51,51,0.7);
}
[data-remodal-id="callback"] {
  max-width: 448px;
  padding: 0;
  border-radius: 10px;
}
.l-callback {
  padding: 44px 64px 53px;
}
.l-callback__title {
  font-size: 26px;
  line-height: 32px;
  color: #212121;
}
.l-callback .l-form {
  background: transparent;
  padding: 0;
}
.l-callback .l-form__form-item {
  margin-top: 19px;
}
.l-callback .l-form__form-item--button .default-button {
  max-width: 100%;
}
.l-callback .l-form__item {
  margin-top: 19px;
}
.l-callback .l-form__item label {
  margin-right: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.l-callback .l-form__item label a {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  padding-left: 33px;
  text-align: left;
}
.careers-block__item {
  font-size: 0;
  position: relative;
  display: block;
}
.careers-block__item:hover .careers-block__title {
  color: #b7bc4e;
}
.careers-block__img {
  font-size: 0;
  position: relative;
  display: block;
}
.careers-block__img:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(47.29% 161.93% at 1.35% 9.18%, rgba(128,0,255,0.48) 0%, rgba(1,1,3,0.39) 100%);
}
.careers-block__img img {
  max-width: 100%;
  width: 100%;
}
.careers-block__title {
  position: absolute;
  bottom: 24px;
  left: 29px;
  right: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  display: block;
  z-index: 1;
}
.l-contacts {
  padding: 100px 0 66px;
  position: relative;
}
.l-contacts__bubble--right {
  position: absolute;
  right: 235px;
  bottom: -60px;
}
.l-contacts__inner {
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.l-contacts__layout {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.l-contacts__layout--content {
  margin-right: 50px;
}
.l-contacts__layout--map {
  -ms-flex: 0 0 555px;
      flex: 0 0 555px;
  width: 555px;
  max-width: 555px;
}
.l-contacts__content--second {
  margin-top: 40px;
}
.l-contacts__title {
  font-size: 24px;
  line-height: 34px;
  color: #212121;
}
.l-contacts__title span {
  font-weight: 600;
}
.l-contacts__icon-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 25px;
}
.l-contacts__icon {
  -ms-flex: 0 0 30px;
      flex: 0 0 30px;
  max-width: 30px;
  width: 30px;
  margin-right: 15px;
  font-size: 0;
}
.l-contacts__icon svg {
  fill: #b7bc4e;
}
.l-contacts__icon-text {
  font-size: 16px;
  line-height: 24px;
}
.l-contacts__map {
  min-height: 300px;
}
.l-contacts__map-coordinat {
  color: #3075c6;
}
.l-contacts__map-coordinat:hover {
  text-decoration: none;
}
.l-contacts__icon-phone {
  text-decoration: none;
  color: #212121;
  font-weight: 600;
}
.l-contacts__icon-mail {
  text-decoration: none;
  color: #212121;
}
.l-content-block {
  padding: 100px 0;
  position: relative;
}
.l-content-block__bubble {
  position: absolute;
}
.l-content-block__bubble--left {
  left: -155px;
  top: -168px;
}
.l-content-block__bubble--right {
  bottom: -76px;
  right: 182px;
}
.l-content-block__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}
.l-content-block__layout--img {
  -ms-flex: 0 0 555px;
      flex: 0 0 555px;
  width: 555px;
  max-width: 555px;
}
.l-content-block__layout--content {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  margin-right: 100px;
}
.l-content-block__text {
  margin-top: 18px;
  font-size: 16px;
  line-height: 32px;
  color: #212121;
}
.l-content-block__img {
  font-size: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.l-content-block__img img {
  width: 100%;
  max-width: 100%;
}
.l-content-block--leftimg .l-content-block__layout--img {
  -ms-flex-order: -1;
      order: -1;
  margin-right: 70px;
}
.l-content-block--leftimg .l-content-block__layout--content {
  margin-right: 0;
}
.l-form {
  background: #f7f7f7;
  padding: 90px 0 100px;
  position: relative;
}
.l-form__inner {
  position: relative;
}
.l-form__bubble {
  position: absolute;
}
.l-form__bubble--left {
  bottom: 107px;
  left: 66px;
}
.l-form__block {
  margin-top: 43px;
  background: #fff;
  padding: 45px 60px;
}
.l-form__topline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}
.l-form__topline-elem {
  -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%;
  width: 33.333%;
  max-width: 33.333%;
  padding-left: 30px;
}
.l-form__middle {
  margin-top: 14px;
  font-size: 0;
}
.l-form__bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 30px;
}
.l-form__bottom .l-form__item--agreement {
  margin-right: 10px;
}
.l-form__bottom .l-form__item--button {
  -ms-flex: 0 0 195px;
      flex: 0 0 195px;
}
.l-form__item--agreement label {
  margin-right: 5px;
  font-size: 13px;
  line-height: 16px;
  color: #212121;
}
.l-form__item--agreement label a {
  color: #212121;
  margin-left: 5px;
}
.l-form__item--agreement label a:hover {
  text-decoration: none;
}
.l-item {
  max-width: 100%;
  padding: 15px 20px 32px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}
.l-item__img {
  font-size: 0;
  padding: 10px;
}
.l-item__img img {
  max-width: 100%;
}
.l-item__title {
  margin-top: 0;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #212121;
}
.l-item__text {
  margin-top: 12px;
  font-size: 13px;
  line-height: 20px;
  color: #212121;
}
.l-item__link {
  margin-top: 20px;
}
.l-item__button {
  -ms-flex-pack: center;
      justify-content: center;
  max-width: 195px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 23px;
}
.l-lot {
  padding: 35px 0 90px;
}
.l-lot__topline {
  display: -ms-flexbox;
  display: flex;
}
.l-lot__topline-layout {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
}
.l-lot__topline-layout--content {
  padding: 0 0 0 17px;
}
.l-lot__title {
  margin: 0;
}
.l-lot__slider {
  display: -ms-flexbox;
  display: flex;
}
.l-lot__slider .owl-nav > button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.l-lot__slider .owl-nav > button.owl-prev {
  right: auto;
  left: 0;
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}
.l-lot__slider .owl-nav > button svg {
  fill: #d1d1d1;
  transition: fill ease-out 0.2s;
}
.l-lot__slider .owl-nav > button:hover svg {
  fill: #b7bc4e;
}
.l-lot__slider-item {
  font-size: 0;
  position: relative;
}
.l-lot__slider-img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 50px 0 0;
}
.l-lot__slider-img img {
  max-width: 380px;
}
.l-lot__slider-zoom {
  position: absolute;
  top: 12px;
  left: 0;
  width: 34px;
  height: 34px;
}
.l-lot__toggle-block {
  margin-top: 18px;
}
.l-lot__pictures {
  margin-top: 32px;
}
.l-lot__buttons {
  margin-top: 38px;
  display: -ms-flexbox;
  display: flex;
}
.l-lot__buttons .default-button--green {
  margin-right: 30px;
}
.l-lot__buttons .default-button--blue {
  max-width: 255px;
}
.l-lot__buttons--products .default-button {
  max-width: 245px;
}
.l-lot__buttons--products .default-button--green {
  margin-right: 20px;
}
.l-lot__marks {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}
.l-lot__marks-item {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  width: 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 20px;
}
.l-lot__marks-item-icon {
  font-size: 0;
  padding: 5px;
}
.l-lot__marks-item-icon img {
  max-width: 100%;
}
.l-lot__marks-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #212121;
  margin-top: 16px;
}
.l-lot__bottom {
  margin-top: 35px;
}
.l-main-slider__items {
  font-size: 0;
  line-height: 0;
}
.l-main-slider__items .owl-item {
  font-size: 0;
  line-height: 0;
}
.l-main-slider__items .owl-dots {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  bottom: 38px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}
.l-main-slider__items .owl-dots .owl-dot {
  margin-right: 17px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  position: relative;
}
.l-main-slider__items .owl-dots .owl-dot:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 100%;
}
.l-main-slider__items .owl-dots .owl-dot.active,
.l-main-slider__items .owl-dots .owl-dot:hover {
  border: 1px solid #b7bc4e;
}
.l-main-slider__items .owl-dots .owl-dot.active:before,
.l-main-slider__items .owl-dots .owl-dot:hover:before {
  background: #b7bc4e;
}
.l-main-slider__items .owl-dots .owl-dot:last-child {
  margin-right: 0;
}
.l-main-slider__item {
  background-size: cover;
}
.l-main-slider__item-text {
  max-width: 526px;
  width: 100%;
  padding: 227px 0 168px;
}
.l-main-slider__item-title {
  font-size: 46px;
  color: #fff;
  line-height: 56px;
}
.l-main-slider__item-content {
  font-size: 17px;
  line-height: 27px;
  color: #fff;
  margin-top: 10px;
}
.l-main-slider__item-button {
  margin-top: 34px;
}
.l-main-slider__item-button .default-button {
  max-width: 195px;
}
.l-marks {
  padding: 83px 0 58px;
}
.l-marks__content {
  position: relative;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #212121;
  padding: 28px 0 0;
}
.l-marks__content:before {
  content: "";
  position: absolute;
  width: 89px;
  height: 2px;
  background: #b7bc4e;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.l-marks__title {
  font-size: 32px;
  line-height: 64px;
  text-align: center;
  color: #212121;
}
.l-marks__items {
  margin-top: 66px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  color: #212121;
}
.l-marks__item {
  -ms-flex: 0 0 380px;
      flex: 0 0 380px;
  max-width: 380px;
  width: 380px;
  margin-bottom: 40px;
  padding: 0 40px;
}
.l-marks__item-img {
  font-size: 0;
  text-align: center;
  width: 112px;
  height: 112px;
  margin: 0 auto;
  background: #b7bc4e;
  border-radius: 100%;
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.l-marks__item-img img,
.l-marks__item-img svg {
  max-width: 100%;
}
.l-marks__item-title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.l-marks__item-description {
  margin-top: 12px;
  font-size: 15px;
  line-height: 18px;
}
.l-marks--four-grid .l-marks__item {
  -ms-flex: 0 0 285px;
      flex: 0 0 285px;
  width: 285px;
  max-width: 285px;
}
.l-marks--four-grid .l-marks__item-img {
  width: 94px;
  height: 94px;
}
.l-marks--four-grid .l-marks__item-title {
  font-size: 17px;
  line-height: 21px;
  margin-top: 20px;
}
.l-marks--products {
  padding: 83px 0 20px;
}
.l-marks--tech {
  padding-bottom: 34px;
}
.l-marks--show .l-marks__title {
  font-size: 40px;
  line-height: 57px;
  margin-bottom: 28px;
}
.page-scroller {
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 1050;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(3,169,244,0.1);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}
.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  fill: #666;
  width: 24px;
  height: 24px;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(3,169,244,0.12);
}
.page-scroller:active {
  background-color: rgba(3,169,244,0.14);
}
.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}
.l-pagers__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin-left: -17px;
}
.l-pagers__item {
  margin-left: 17px;
  text-decoration: none;
  width: 55px;
  height: 55px;
  border: 1px solid #b7bc4e;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 55px;
  color: #212121;
  transition: background ease-out 0.3s;
}
.l-pagers__item:hover,
.l-pagers__item .active {
  background: #b7bc4e;
  color: #fff;
}
.l-partners {
  background: #f7f7f7;
  padding: 90px 0 110px;
}
.l-partners__block {
  margin-top: 18px;
}
.l-partners__block .owl-stage-outer .owl-stage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
}
.l-partners__block .owl-stage-outer .owl-stage img {
  width: auto;
}
.l-partners__item {
  font-size: 0;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  transition: -webkit-filter ease-out 0.3s;
  transition: filter ease-out 0.3s;
  transition: filter ease-out 0.3s, -webkit-filter ease-out 0.3s;
}
.l-partners__item img {
  width: auto;
  margin: 0 auto;
}
.l-partners__item:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.l-partnersgrid {
  padding: 83px 0 0;
}
.l-partnersgrid__grid {
  position: relative;
  padding: 73px 0 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.l-partnersgrid__grid:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 2px;
  width: 89px;
  background: #b7bc4e;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.l-partnersgrid__item {
  -ms-flex: 0 0 16.666%;
      flex: 0 0 16.666%;
  width: 16.666%;
  max-width: 16.666%;
  font-size: 0;
  padding: 5px;
  margin-bottom: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.l-partnersgrid__item img {
  max-width: 100%;
}
.l-popular {
  position: relative;
  overflow: hidden;
  padding: 90px 0 100px;
  -webkit-overflow-scrolling: touch;
}
.l-popular__inner {
  position: relative;
}
.l-popular__bubble {
  position: absolute;
}
.l-popular__bubble--left {
  left: -155px;
  bottom: 86px;
}
.l-popular__bubble--right {
  top: 90px;
  right: 287px;
}
.l-popular__grid {
  margin: 43px 0 0 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.l-popular__grid:not(.slider) {
  margin-left: -30px;
}
.l-popular__grid:not(.slider) .l-popular__grid-elem {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  width: 25%;
  max-width: 25%;
  padding: 0 0 30px 30px;
}
.l-popular__grid.slider .owl-stage-outer {
  overflow: visible;
}
.l-popular__grid.slider .owl-stage-outer .owl-item {
  opacity: 0;
  pointer-events: none;
}
.l-popular__grid.slider .owl-stage-outer .owl-item.active {
  opacity: 1;
  pointer-events: auto;
}
.l-popular__grid.slider .owl-nav > button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: -60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.l-popular__grid.slider .owl-nav > button.owl-prev {
  right: auto;
  left: -60px;
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}
.l-popular__grid.slider .owl-nav > button svg {
  fill: #d1d1d1;
  transition: fill ease-out 0.2s;
}
.l-popular__grid.slider .owl-nav > button:hover svg {
  fill: #b7bc4e;
}
.l-popular__grid-item {
  box-shadow: 5px 15px 40px rgba(30,35,66,0.15);
  border-radius: 10px;
  transition: -webkit-transform linear 0.3s;
  transition: transform linear 0.3s;
  transition: transform linear 0.3s, -webkit-transform linear 0.3s;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.l-popular__grid-item:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.l-popular__button {
  margin-top: 48px;
}
.l-popular__button .default-button {
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #b7bc4e;
  box-sizing: border-box;
  color: #212121;
  max-width: 255px;
}
.l-popular__button .default-button svg {
  fill: #b7bc4e;
}
.l-popular__button .default-button:hover {
  color: #b7bc4e;
}
.l-portfolio {
  background: #f7f7f7;
  padding: 88px 0 100px;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.l-portfolio__brand-text {
  position: absolute;
  right: 163px;
  top: -40px;
}
.l-portfolio__inner {
  position: relative;
}
.l-portfolio__items {
  margin-top: 39px;
}
.l-portfolio__items-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.l-portfolio__items-row .l-portfolio__item:nth-child(2) {
  -ms-flex: 0 0 375px;
      flex: 0 0 375px;
  max-width: 375px;
  width: 375px;
}
.l-portfolio__items-row:nth-child(even) .l-portfolio__item:first-child {
  -ms-flex: 0 0 375px;
      flex: 0 0 375px;
  max-width: 375px;
  width: 375px;
}
.l-portfolio__items-row:nth-child(even) .l-portfolio__item:nth-child(2) {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  max-width: none;
  width: auto;
}
.l-portfolio__item {
  height: 358px;
  background-size: cover;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  text-decoration: none;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: -webkit-transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
}
.l-portfolio__item:before {
  visibility: hidden;
  transition: opacity ease-out 0.2s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: radial-gradient(151.38% 451.83% at 1.35% 9.18%, rgba(128,0,255,0.48) 68.7%, rgba(1,1,3,0) 100%);
}
.l-portfolio__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  z-index: 2;
}
.l-portfolio__item:hover:before {
  opacity: 1;
  visibility: visible;
}
.l-portfolio__item-title {
  font-size: 26px;
  line-height: 32px;
  position: relative;
  color: #fff;
}
.l-products {
  position: relative;
  padding-bottom: 75px;
}
.l-products__inner {
  position: relative;
}
.l-products__bubble {
  position: absolute;
}
.l-products__bubble--right {
  right: 304px;
  top: 0;
}
.l-products__bubble--left {
  top: -135px;
  left: -143px;
}
.l-products__title {
  text-align: center;
}
.l-products__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0 0 -30px;
}
.l-products__elem {
  padding: 0 0 30px 30px;
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
}
.l-products__item {
  background: #fff;
  box-shadow: 5px 15px 40px rgba(30,35,66,0.15);
  border-radius: 10px;
  height: 100%;
  padding: 18px 40px 17px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.l-products__item-layout {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.l-products__item-layout--img {
  -ms-flex: 0 0 195px;
      flex: 0 0 195px;
  width: 195px;
  max-width: 195px;
  margin-right: 60px;
}
.l-products__item-img {
  font-size: 0;
  text-align: center;
}
.l-products__item-img img {
  max-width: 100%;
}
.l-products__item-title {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #212121;
}
.l-products__text {
  margin-top: 12px;
  font-size: 13px;
  line-height: 20px;
  color: #212121;
}
.l-products__button {
  margin-top: 20px;
}
.l-products__button .default-button {
  max-width: 195px;
  padding-right: 23px;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 15px 40px 16px 23px;
}
.l-reviews {
  background: #f7f7f7;
  padding: 90px 0 15px;
  overflow: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.l-reviews__brand-text {
  position: absolute;
  left: calc(50% - 170px);
  top: -39px;
}
.l-reviews__inner {
  position: relative;
  max-width: 1270px;
}
.l-reviews__title {
  padding: 0 50px;
}
.l-reviews__items {
  display: -ms-flexbox;
  display: flex;
  margin-top: -30px;
}
.l-reviews__items .owl-stage-outer {
  padding: 80px 0;
}
.l-reviews__items .owl-nav > button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  right: -10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.l-reviews__items .owl-nav > button.owl-prev {
  right: auto;
  left: -10px;
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}
.l-reviews__items .owl-nav > button svg {
  fill: #d1d1d1;
  transition: fill ease-out 0.2s;
}
.l-reviews__items .owl-nav > button:hover svg {
  fill: #b7bc4e;
}
.l-reviews__elem {
  padding: 0 100px;
}
.l-reviews__item {
  box-shadow: 5px 15px 80px rgba(30,35,66,0.15);
  border-radius: 10px;
  padding: 57px 43px 35px 71px;
  position: relative;
  background-color: #fff;
  z-index: 3;
}
.l-reviews__item:before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: -20px;
  right: -20px;
  background-color: #fff;
  border-radius: 10px;
}
.l-reviews__item:after {
  content: "";
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: -40px;
  right: -40px;
  background-color: #fff;
  border-radius: 10px;
}
.l-reviews__item-quotes {
  position: absolute;
  left: 31px;
  top: 27px;
  z-index: 3;
}
.l-reviews__item-quotes svg {
  width: 84px;
  height: 59px;
  fill: #f7f7f7;
}
.l-reviews__item-text {
  position: relative;
  z-index: 3;
  font-size: 15px;
  line-height: 30px;
  color: #212121;
}
.l-reviews__item-text:before {
  content: "";
  position: absolute;
  bottom: -28px;
  height: 2px;
  width: 89px;
  background: #b7bc4e;
  left: 0;
}
.l-reviews__item-profile {
  position: relative;
  z-index: 3;
  margin-top: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.l-reviews__item-profile-layout {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  font-size: 14px;
  line-height: 31px;
  color: #212121;
}
.l-reviews__item-profile-layout--avatar {
  -ms-flex: 0 0 58px;
      flex: 0 0 58px;
  margin-right: 17px;
}
.l-reviews__item-profile-avatar {
  font-size: 0;
}
.l-reviews__item-profile-avatar img {
  max-width: 100%;
}
.l-reviews__item-profile-name {
  font-size: 20px;
  font-weight: 500;
}
.l-reviews--white {
  background: #fff;
}
.l-reviews--white .l-reviews__inner {
  max-width: 1270px;
}
.l-reviews--white .l-reviews__title {
  padding: 0 50px;
}
.l-reviews--white .l-reviews__elem {
  padding: 0 100px;
}
.l-share__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.l-share__title {
  font-size: 24px;
  line-height: 44px;
  color: #212121;
}
.l-share__layout--title {
  margin-right: 25px;
}
.l-share__icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.l-share__icon {
  font-size: 0;
  margin-right: 10px;
  line-height: 0;
}
.l-share__icon:last-child {
  margin-right: 0;
}
.l-share__icon:hover {
  opacity: 0.8;
}
.l-site-path {
  background: #f7f7f7;
  padding: 18px 0;
  font-size: 13px;
  line-height: 20px;
  color: #212121;
}
.l-site-path a {
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  color: #212121;
}
.l-site-path a:hover {
  text-decoration: underline;
}
.l-site-path__separator {
  margin: 0 5px;
}
.l-site-path--second {
  background: transparent;
  color: #fff;
}
.l-site-path--second a {
  color: #fff;
}
.l-solve {
  background: #f7f7f7;
  position: relative;
  padding: 90px 0 100px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.l-solve__inner {
  position: relative;
}
.l-solve__brand-text {
  position: absolute;
  left: calc(50% - 82px);
  top: -32px;
}
.l-solve__items {
  margin: 36px 0 0 -30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.l-solve__elem {
  -ms-flex: 0 0 33.33%;
      flex: 0 0 33.33%;
  width: 33.33%;
  max-width: 33.33%;
  padding-left: 30px;
}
.l-solve__item {
  background: #fff;
  box-shadow: 5px 15px 40px rgba(30,35,66,0.15);
  border-radius: 10px;
  padding: 39px 30px 37px;
  text-align: center;
  min-height: 100%;
  display: block;
  text-decoration: none;
}
.l-solve__item-img {
  margin: 0 auto;
  width: 112px;
  height: 112px;
  background: #b7bc4e;
  border-radius: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.l-solve__item-img img {
  max-width: 100%;
}
.l-solve__item-title {
  margin-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
}
.l-tabs {
  box-sizing: border-box;
}
.l-tabs__links-wrap {
  border-bottom: 1px solid #e7e7e7;
}
.l-tabs__links {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.l-tabs__link-wrap.r-tabs-state-active .l-tabs__link:before {
  content: "";
}
.l-tabs__link-wrap.r-tabs-state-active .l-tabs__link .l-tabs__accord:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.l-tabs__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 0 0 0;
  padding: 11px 20px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  text-align: center;
  font-size: 17px;
  color: #212121;
  line-height: 26px;
  text-decoration: none;
}
.l-tabs__link:before {
  content: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 6px;
  background: #b7bc4e;
  border-radius: 3px;
}
.l-tabs__link.active:before {
  content: "";
}
.l-tabs__link.active .l-tabs__accord:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.l-tabs__blocks .r-tabs-accordion-title a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 0 0 0;
  padding: 11px 20px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  text-align: center;
  font-size: 17px;
  color: #212121;
  line-height: 26px;
  text-decoration: none;
}
.l-tabs__blocks .r-tabs-state-active .l-tabs__accord:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.l-tabs__block {
  margin-top: 37px;
  padding-bottom: 30px;
}
.l-tabs__accord {
  width: 16px;
  height: 16px;
  display: none;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  margin-left: 10px;
}
.l-tabs__accord:before,
.l-tabs__accord:after {
  content: "";
  background: #000;
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
  transition: -webkit-transform ease-out 0.3s;
  transition: transform ease-out 0.3s;
  transition: transform ease-out 0.3s, -webkit-transform ease-out 0.3s;
}
.l-tabs__accord:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.l-tabs-tech {
  box-sizing: border-box;
  position: relative;
}
.l-tabs-tech__inner {
  position: relative;
}
.l-tabs-tech__bubble {
  position: absolute;
}
.l-tabs-tech__bubble--left {
  left: -155px;
  bottom: 140px;
}
.l-tabs-tech__bubble--right {
  top: -90px;
  right: 100px;
}
.l-tabs-tech__links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 -14px;
}
.l-tabs-tech__link-wrap {
  -ms-flex: 0 0 16.666%;
      flex: 0 0 16.666%;
  width: 16.666%;
  max-width: 16.666%;
  padding: 0 0 14px 14px;
}
.l-tabs-tech__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 0 0 0;
  padding: 13px 10px 12px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  line-height: 21px;
  text-transform: uppercase;
  color: #212121;
  height: 100%;
  background: #fff;
  box-shadow: 5px 15px 40px rgba(30,35,66,0.15);
  border-radius: 10px;
  transition: background ease-out 0.3s;
  min-height: 88px;
}
.l-tabs-tech__link.active,
.l-tabs-tech__link:hover {
  background: #b7bc4e;
  color: #fff;
}
.l-tabs-tech__blocks .r-tabs-accordion-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0 0 0 0;
  padding: 13px 10px 12px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  line-height: 21px;
  text-transform: uppercase;
  color: #212121;
  height: 100%;
  background: #fff;
  box-shadow: 5px 15px 40px rgba(30,35,66,0.15);
  border-radius: 10px;
  transition: background ease-out 0.3s;
  min-height: 88px;
}
.l-tabs-tech__blocks .r-tabs-accordion-title.active,
.l-tabs-tech__blocks .r-tabs-accordion-title:hover {
  background: #b7bc4e;
  color: #fff;
}
.l-tabs-tech__block {
  margin-top: 37px;
  padding-bottom: 30px;
}
.l-text {
  padding: 48px 0 90px;
}
.l-text__inner {
  font-size: 16px;
  line-height: 30px;
}
.l-toggle-text-block__limiter {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.l-toggle-text-block__all {
  font-size: 14px;
  line-height: 25px;
  color: #212121;
}
.l-toggle-text-block__more-link {
  margin-top: 13px;
  text-align: left;
}
.l-toggle-text-block__more-link a {
  font-weight: 600;
  color: #b7bc4e;
}
.l-toggle-text-block__more-link a:before {
  content: attr(data-show);
  font-weight: 600;
  color: #b7bc4e;
  font-size: 14px;
}
.l-toggle-text-block__more-link a.active:before {
  content: attr(data-hide);
}
.l-video {
  padding: 100px 0;
  background: #f7f7f7;
}
.l-video__inner {
  display: -ms-flexbox;
  display: flex;
}
.l-video__layout {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
}
.l-video__layout--video {
  padding-right: 15px;
}
.l-video__layout--marks {
  padding-left: 15px;
}
.l-video__block {
  font-size: 0;
  height: 100%;
}
.l-video__block iframe {
  height: 100%;
  width: 100%;
}
.l-video__marks {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -30px 0 0 -30px;
}
.l-video__mark {
  padding: 30px 0 0 30px;
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
  text-align: center;
}
.l-video__mark-item {
  background: #fff;
  padding: 41px;
  height: 100%;
}
.l-video__mark-icon {
  font-size: 0;
}
.l-video__mark-icon svg {
  fill: #b7bc4e;
}
.l-video__mark-title {
  margin-top: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #212121;
}
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media all and (max-width: 1600px) {
  .l-advantages__bubble--left {
    left: 0;
  }
  .l-articles__bubble--left {
    left: 0;
  }
  .l-content-block__bubble--right {
    right: 0;
  }
  .l-popular__bubble--right {
    right: 0;
  }
  .l-tabs-tech__bubble--right {
    right: 0;
  }
}
@media all and (max-width: 1400px) {
  .l-articles__bubble {
    display: none;
  }
  .l-contacts__bubble--right {
    right: 0;
  }
  .l-popular__bubble {
    display: none;
  }
}
@media all and (max-width: 1240px) {
  .l-articles__items .owl-nav > button {
    right: -20px;
  }
  .l-articles__items .owl-nav > button.owl-prev {
    left: -20px;
  }
  .l-popular__grid.slider .owl-nav > button {
    right: -20px;
  }
  .l-popular__grid.slider .owl-nav > button.owl-prev {
    left: -20px;
  }
  .l-reviews__items .owl-nav > button {
    right: -20px;
  }
  .l-reviews__items .owl-nav > button.owl-prev {
    left: -20px;
  }
  .l-tabs__link {
    padding: 11px 10px;
    font-size: 15px;
  }
}
@media all and (max-width: 1080px) {
  .default-bubble {
    width: 100px;
    height: 100px;
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  .default-bubble--big {
    width: 200px;
    height: 200px;
    -webkit-filter: blur(18px);
            filter: blur(18px);
  }
  .l-articles__items {
    padding-left: 20px;
    padding-right: 20px;
  }
  .l-popular__grid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .l-products__item-layout--img {
    margin-right: 30px;
  }
}
@media all and (max-width: 1024px) {
  h1,
  .h1 {
    font-size: 38px;
    line-height: 46px;
  }
  h2,
  .h2 {
    font-size: 30px;
    line-height: 32px;
  }
  .default-title {
    font-size: 36px;
    line-height: 40px;
  }
  .brand-text {
    font-size: 100px;
    line-height: 120px;
  }
  .app-footer__topline-layout--logo {
    margin-right: 50px;
  }
  .app-footer__topline-layout--menu {
    padding-right: 0;
  }
  .app-header__topline {
    height: 70px;
    padding: 5px 0px;
  }
  .app-header__menu {
    display: none;
  }
  .app-header__search-button .svg-icon {
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }
  .app-header__adaptive-menu {
    display: block;
  }
  .app-header__logo {
    -ms-flex: 0 0 180px;
        flex: 0 0 180px;
  }
  .app-header__logo svg {
    width: 180px;
  }
  .app {
    padding-top: 70px;
  }
  .l-about__brand-text {
    right: 0;
  }
  .l-advantages {
    padding: 70px 0 45px;
  }
  .l-advantages__content-block-layout--img {
    -ms-flex: 0 0 400px;
        flex: 0 0 400px;
    margin-left: 20px;
  }
  .l-advantages__content-block-title {
    font-size: 30px;
    line-height: 38px;
  }
  .l-advantages__content-block-text {
    font-size: 14px;
    line-height: 24px;
  }
  .l-advantages__brand-text {
    bottom: -24px;
  }
  .l-advantages__block {
    margin-top: 40px;
  }
  .l-advantages__block-elems {
    margin-left: -20px;
  }
  .l-advantages__block-elem {
    padding-left: 20px;
  }
  .l-advantages__block-item-layout--number {
    margin-right: 5px;
  }
  .l-advantages__brand-text {
    right: 0;
    left: auto;
  }
  .l-articles--grid__elem,
  .l-articles .l-articles__elem {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
  .l-contacts {
    padding: 70px 0 45px;
  }
  .l-contacts__layout--map {
    -ms-flex: 0 0 400px;
        flex: 0 0 400px;
    width: 400px;
    max-width: 400px;
  }
  .l-contacts__layout--content {
    margin-right: 20px;
  }
  .l-contacts__title {
    font-size: 20px;
    line-height: 28px;
  }
  .l-contacts__icon-text {
    font-size: 14px;
  }
  .l-content-block__layout--img {
    -ms-flex: 0 0 400px;
        flex: 0 0 400px;
    width: 400px;
    max-width: 400px;
  }
  .l-content-block__layout--content {
    margin-right: 20px;
  }
  .l-content-block__text {
    font-size: 14px;
    line-height: 24px;
  }
  .l-content-block--leftimg .l-content-block__layout--img {
    margin-right: 20px;
  }
  .l-form {
    padding: 70px 0 45px;
  }
  .l-form__block {
    padding: 35px 40px;
  }
  .l-form__item--agreement label {
    font-size: 14px;
  }
  .l-lot__buttons {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .l-lot__buttons .default-button--green {
    margin-right: 0;
    max-width: 255px;
    margin-bottom: 20px;
  }
  .l-main-slider__item-text {
    max-width: 426px;
    padding: 180px 0 100px;
  }
  .l-main-slider__item-title {
    font-size: 38px;
    line-height: 46px;
  }
  .l-main-slider__item-content {
    font-size: 14px;
    line-height: 22px;
  }
  .l-partners__item {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  .l-partnersgrid {
    padding-top: 50px;
  }
  .l-partnersgrid__item {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
    margin-bottom: 50px;
  }
  .l-popular__grid:not(.slider) .l-popular__grid-elem {
    -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%;
    width: 33.333%;
    max-width: 33.333%;
  }
  .l-portfolio__brand-text {
    top: -25px;
  }
  .l-products__item-layout--img {
    margin-right: 20px;
    -ms-flex: 0 0 140px;
        flex: 0 0 140px;
    width: 140px;
    max-width: 140px;
  }
  .l-products__item {
    padding: 15px;
  }
  .l-reviews__brand-text {
    top: -24px;
    left: auto;
    right: 0;
  }
  .l-solve__items {
    margin-left: -20px;
  }
  .l-solve__elem {
    padding-left: 20px;
  }
  .l-solve__brand-text {
    top: -15px;
  }
  .l-tabs-tech__link-wrap {
    -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%;
    width: 33.333%;
    max-width: 33.333%;
  }
  .l-video__marks {
    margin: -20px 0 0 -20px;
  }
  .l-video__mark {
    padding: 20px 0 0 20px;
  }
  .l-video__mark-item {
    padding: 30px;
  }
}
@media all and (max-width: 980px) {
  .l-tabs__link {
    padding: 11px 4px;
    font-size: 13px;
  }
}
@media all and (max-width: 900px) {
  .l-advantages__block-item-title {
    font-size: 16px;
  }
  .l-advantages__block-item-text {
    margin-top: 5px;
    font-size: 14px;
    line-height: 20px;
  }
  .l-solve__brand-text {
    right: 0;
    left: auto;
  }
}
@media all and (max-width: 780px) {
  .l-portfolio__brand-text {
    right: auto;
    left: 0;
  }
  .l-portfolio__item,
  .l-portfolio__items-row .l-portfolio__item:nth-child(2),
  .l-portfolio__items-row:nth-child(even) .l-portfolio__item:first-child,
  .l-portfolio__items-row:nth-child(even) .l-portfolio__item:nth-child(2) {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
    height: 300px;
  }
}
@media all and (max-width: 768px) {
  .column--two {
    display: block;
  }
  .column--two > div {
    padding: 0;
  }
  .default-bubble {
    display: none;
  }
  .app-footer__topline-inner {
    display: block;
  }
  .app-footer__topline-layout--logo {
    margin-right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
  }
  .app-footer__topline-layout--menu {
    margin-top: 30px;
  }
  .app-footer__socials {
    margin-top: 0;
  }
  .app-footer__menu > ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .app-footer__menu > ul > li {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
    margin-top: 30px;
  }
  .l-advantages {
    padding: 40px 0 35px;
  }
  .l-advantages__bubbles {
    display: none;
  }
  .l-advantages__content-block {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .l-advantages__content-block-layout--img {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    margin-left: 0;
    -ms-flex-order: -1;
        order: -1;
    margin-bottom: 20px;
  }
  .l-advantages__content-block-img img {
    width: 100%;
  }
  .l-advantages__block-elems {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-advantages__block-elem {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
  .l-contacts {
    padding: 40px 0 35px;
  }
  .l-contacts__inner {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .l-contacts__layout {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
  }
  .l-contacts__layout--map {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
  }
  .l-contacts__layout--content {
    margin: 0 0 20px 0;
  }
  .l-content-block {
    padding: 50px 0;
  }
  .l-content-block__inner {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .l-content-block__layout--img {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    -ms-flex-order: -1;
        order: -1;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
  }
  .l-content-block__layout--content {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    margin-right: 0;
  }
  .l-content-block__img img {
    width: 100%;
  }
  .l-form {
    padding: 40px 0 35px;
  }
  .l-form__topline {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .l-form__topline-elem {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    max-width: 100%;
    width: 100%;
    margin: 20px 0 0;
  }
  .l-form__middle {
    margin-top: 20px;
  }
  .l-form__bottom {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: stretch;
        align-items: stretch;
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
  .l-form__bottom .l-form__item--agreement {
    margin-right: 0;
  }
  .l-form__bottom .l-form__item--agreement label {
    margin-right: 0;
  }
  .l-form__bottom .l-form__item--button {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    margin-top: 20px;
  }
  .l-form__bottom .l-form__item--button button {
    margin: 0 auto;
  }
  .l-lot__topline {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .l-lot__topline-layout {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
  }
  .l-lot__middle {
    margin-top: 30px;
  }
  .l-popular__grid:not(.slider) .l-popular__grid-elem {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
  .l-products__elem {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  .l-reviews__items {
    margin-top: 0;
  }
  .l-reviews__items .owl-stage-outer {
    padding: 40px 0;
  }
  .l-reviews__elem {
    padding: 0 30px;
  }
  .l-reviews__item {
    box-shadow: 5px 15px 40px rgba(30,35,66,0.15);
    padding: 40px 30px;
  }
  .l-reviews__item:before {
    top: 15px;
    left: -15px;
    right: -15px;
    bottom: 15px;
  }
  .l-reviews__item:after {
    top: 30px;
    bottom: 30px;
    left: -30px;
    right: -30px;
  }
  .l-reviews__item-text {
    font-size: 14px;
    line-height: 26px;
  }
  .l-solve__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-solve__elem {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
    padding-bottom: 20px;
  }
  .l-tabs__blocks .r-tabs-accordion-title a {
    margin-right: 0;
    padding: 20px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    background: #f2f3f2;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .l-tabs__blocks img {
    max-width: 100%;
  }
  .l-tabs__links {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .l-tabs__link {
    margin-right: 0;
    padding: 20px;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    background: #f2f3f2;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  .l-tabs__accord {
    display: -ms-flexbox;
    display: flex;
  }
  .l-video {
    padding: 50px 0;
  }
  .l-video__inner {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .l-video__layout {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .l-video__layout--marks {
    margin-top: 30px;
  }
  .l-video__block iframe {
    min-height: 300px;
  }
}
@media all and (max-width: 640px) {
  h1,
  .h1 {
    font-size: 34px;
    line-height: 40px;
  }
  h2,
  .h2 {
    font-size: 26px;
    line-height: 30px;
  }
  .default-title {
    font-size: 30px;
    line-height: 34px;
  }
  .brand-text {
    font-size: 70px;
    line-height: 90px;
  }
  .l-form__block {
    padding: 30px 25px;
  }
  .l-lot__marks-item {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
  .l-marks {
    padding: 50px 0 60px;
  }
  .l-marks__content {
    font-size: 14px;
    line-height: 24px;
  }
  .l-marks__title {
    font-size: 24px;
    line-height: 40px;
  }
  .l-marks--show .l-marks__title {
    font-size: 24px;
    line-height: 40px;
  }
  .l-partnersgrid__item {
    -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%;
    width: 33.333%;
    max-width: 33.333%;
    padding: 15px;
    margin-bottom: 30px;
  }
  .l-reviews {
    padding: 60px 0 30px;
  }
  .l-tabs-tech__link-wrap {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
  }
}
@media all and (max-width: 600px) {
  .l-advantages__block-elem {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  .l-articles--grid__elem,
  .l-articles .l-articles__elem {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  .l-lot__slider .owl-nav > button svg {
    fill: #000;
    width: 40px;
    height: 40px;
  }
  .l-lot__slider .owl-nav > button svg:hover {
    fill: #000;
  }
  .l-portfolio {
    padding: 60px 0 70px;
  }
  .l-portfolio__item,
  .l-portfolio__items-row .l-portfolio__item:nth-child(2),
  .l-portfolio__items-row:nth-child(even) .l-portfolio__item:first-child,
  .l-portfolio__items-row:nth-child(even) .l-portfolio__item:nth-child(2) {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    height: 300px;
  }
  .l-reviews__item {
    padding: 30px 0;
  }
  .l-reviews__item-profile-name {
    font-size: 16px;
  }
  .l-reviews__item-profile-layout {
    line-height: 26px;
  }
  .l-solve__elem {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
}
@media all and (max-width: 480px) {
  h1,
  .h1 {
    font-size: 30px;
    line-height: 36px;
  }
  h2,
  .h2 {
    font-size: 22px;
    line-height: 24px;
  }
  .default-title {
    font-size: 24px;
    line-height: 28px;
  }
  .brand-text {
    font-size: 50px;
    line-height: 70px;
  }
  .app-footer__logo svg {
    max-width: 200px;
  }
  .l-advantages__brand-text {
    bottom: -15px;
  }
  .l-advantages__content-block-title {
    font-size: 24px;
    line-height: 30px;
  }
  .l-advantages__content-block-text {
    margin-top: 15px;
  }
  .l-aside-menu__content {
    width: 320px;
  }
  .aside-nav-list li a {
    font-size: 20px;
  }
  .l-callback {
    padding: 30px 15px;
  }
  .l-callback__title {
    font-size: 18px;
    line-height: 28px;
  }
  .l-content-block__layout--img {
    margin-bottom: 15px;
  }
  .l-form__bottom .l-form__item--agreement label {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .l-form__bottom .l-form__item--agreement label a {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    padding-left: 33px;
  }
  .l-main-slider__item-text {
    max-width: 100%;
    padding: 120px 0 80px;
  }
  .l-main-slider__item-title {
    font-size: 30px;
    line-height: 38px;
  }
  .l-main-slider__item-content {
    font-size: 14px;
    line-height: 22px;
  }
  .l-main-slider__item-button {
    margin-top: 20px;
  }
  .l-marks__item {
    -ms-flex: 0 0 290px;
        flex: 0 0 290px;
    width: 290px;
    max-width: 290px;
  }
  .l-pagers__item {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .l-popular__grid:not(.slider) .l-popular__grid-elem {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
  .l-reviews {
    padding: 40px 0 30px;
  }
  .l-reviews__brand-text {
    top: -18px;
    left: auto;
    right: 0;
  }
  .l-share__title {
    font-size: 20px;
    line-height: 38px;
  }
  .l-tabs__link {
    font-size: 14px;
  }
  .l-text__inner {
    font-size: 14px;
  }
  .l-video__mark {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
}
@media all and (max-width: 400px) {
  .l-articles__content {
    font-size: 13px;
    line-height: 17px;
  }
  .l-products__item-layout--img {
    -ms-flex: 0 0 100px;
        flex: 0 0 100px;
    width: 100px;
    max-width: 100px;
  }
  .l-products__item-title {
    font-size: 15px;
    line-height: 19px;
  }
  .l-products__text {
    margin-top: 7px;
  }
  .l-products__button {
    margin-top: 10px;
  }
  .l-tabs-tech__link-wrap {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
  }
}
@media all and (max-width: 360px) {
  .app-footer__logo svg {
    max-width: 160px;
  }
}
